{% extends 'user/base.html' %}

{% block content %}

{% load static %}
<!-- templates/user/dashboard.html -->
<h2>Welcome to Your  Ownwer Dashboard</h2>
<p>Your signup and email verification were successful!</p>
<!-- <a href="{% url 'user:logout' %}">Logout</a> -->

<!-- Update Profile Button -->
<!-- <a href="{% url 'user:update_profile' %}">
    <button type="button">Update Profile</button>
</a> -->

<!-- Change Password Button -->
<!-- <a href="{% url 'user:change_password' %}">
    <button type="button">Change Password</button>
</a> -->

{% endblock %}